:host {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

:host(.supportCSS) {
  animation-name: translate-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0% 20%;

  .btn.home,
  .icon.home,
  .nav>ul {
    animation-name: hide-btn;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 0% 20%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

:host(.scrolled) {
  animation: 500 shrink forwards;

  .btn.home,
  .icon.home,
  .nav {
    animation: 500ms hide forwards;
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    80% {
      opacity: 0;
      width: 0;
      padding: 0;
    }

    100% {
      opacity: 0;
      width: 0;
      padding: 0;
    }
  }

  @keyframes shrink {
    0% {
      width: 100%;
    }

    50% {
      width: 100%;
    }

    80% {
      width: 50%;
    }

    100% {
      width: 64px;
    }
  }
}

.nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}

@keyframes translate-header {
  to {
    width: max-content;
  }
}

@keyframes hide-btn {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: fit-content;
  }

  50% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    width: fit-content;
  }

  80% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    width: fit-content;
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    width: 0;
    padding: 0;
  }
}