:host {
  display: block;
}

.content-wrapper {
  margin: 0;
  padding-block: 4vw 0;
  list-style: none;
  width: min(90%, 65ch);
  margin-inline: auto;
}

.title,
.text {
  margin-block: 1em 0;
}

.title {
  font-weight: 600;
}