@if (supportedCSS()) {
    <div class="img-wrapper">
        <img src="assets/img/plant.jpg" class="img" alt="plant">
    </div>
    <div class="info">
        <p class="title">Block title</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia earum quasi culpa voluptates voluptate ducimus id. Hic provident itaque repellendus animi debitis? In corrupti, aspernatur eveniet exercitationem doloremque impedit.</p>
        <div class="button-wrapper">
            <button mat-flat-button class="btn menu">Check</button>
            <button mat-button class="btn menu">More info</button>
        </div>
    </div>
    <div class="overlay"></div>
}@else {
    <div class="img-wrapper" appParallax [parallaxRatio]="0.5">
        <img src="assets/img/plant.jpg" class="img" alt="plant">
    </div>
    <div class="info" appParallax [parallaxRatio]="-0.3">
        <p class="title">Block title</p>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia earum quasi culpa voluptates voluptate ducimus id. Hic provident itaque repellendus animi debitis? In corrupti, aspernatur eveniet exercitationem doloremque impedit.</p>
        <div class="button-wrapper">
            <button mat-flat-button class="btn menu">Check</button>
            <button mat-button class="btn menu">More info</button>
        </div>
    </div>
    <div class="overlay" appParallax [parallaxRatio]="-0.5"></div>
}
