:host {
  --img-height: 90vh;
  --bg-color: #fff;

  display: grid;
  grid-template-areas: "stack";
}

:host(.supportCSS) {
  .overlay {
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 0;
  }

  .img-wrapper {
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: 15;
  }

  .info {
    animation: parallax linear;
    animation-timeline: scroll();
    --parallax-speed: -5;
  }

  @keyframes parallax {
    to {
      transform: translateY(calc(var(--parallax-speed) * 100px));
    }
  }
}

:host(.parallax) {
  .img {
    transition: transform 1000ms ease-out;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: var(--img-height);
    top: 100%;
  }
}

.overlay {
  grid-area: stack;
  z-index: 1;
  transform: translateY(100%);
  background: linear-gradient(to top, var(--bg-color), transparent);

  &::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    inset: 0;
    translate: 0 100%;
  }
}

.img-wrapper {
  grid-area: stack;
  position: relative;
  overflow: hidden;
  height: var(--img-height);
}

.img {

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  grid-area: stack;

  display: grid;
  align-content: start;
  place-self: center start;
  gap: 1.25em;
  width: min(90%, 35ch);
  padding: 32px 24px;
  margin-inline: 16px 0;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 12px;
}

.title {
  font-weight: 600;
}

.button-wrapper {
  display: flex;
  gap: 1em;
}