<div class="img-wrapper">
    <img src="../../../assets/img/plant.jpg" class="img" alt="plant">
</div>
<div class="info">
    <p class="title">Block title</p>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quia earum quasi culpa voluptates voluptate ducimus id. Hic provident itaque repellendus animi debitis? In corrupti, aspernatur eveniet exercitationem doloremque impedit.</p>
    <div class="button-wrapper">
        <button mat-flat-button class="btn menu" aria-label="icon-button with menu icon">Check</button>
        <button mat-button class="btn menu" aria-label="icon-button with menu icon">More info</button>
    </div>
</div>
